.app-download{
    margin: auto;
    margin-top: 80px;
    font-size: max(3vw,20px);
    text-align: center;
    font-weight: 600;
}
.app-download-plateform{
    display: flex;
    justify-content: center;
    gap: max(2vw,10px);
    margin-top: 40px;
}

.app-download-plateform img{
    width: max(30vw,120px);
    max-width: 180px;
    transition: 0.5s;
    cursor: pointer;
}

.app-download-plateform img:hover{
    transform: scale(1.05);
}